#useDynLib(cummeRbund, copyEnv_sym=copyEnv, sublist_extract)

import(methods)

exportClasses(CuffSet,
			CuffData,
			CuffFeature, 
			CuffFeatureSet, 
			CuffGene, 
			CuffGeneSet
)

exportMethods(fpkm,
			csDensity,
			csScatter,
			csVolcano,
			csBoxplot,
			csHeatmap,
			fpkmMatrix,
			diffData,
			features,
			featureNames,
			samples,
			expressionPlot,
			expressionBarplot,
			getGene,
			addFeatures
)

export("readCufflinks",
		"loadGenes",
		"loadIsoforms",
		"loadTSS",
		"loadCDS",
		"populateSampleTable",
		"createDB",
		"JSdist",
		"shannon.entropy",
		"makeprobs"
		)

#importClassesFrom("Biobase","Versioned")
#importClassesFrom("Biobase","VersionedBiobase")